:root {
--main-background-color: white;
--secondary-background-color: #FCFCFC;


/* Il colore dell'Hover è lo stesso dei bottoni vuoti*/
--hover-font-color: #1c1ce1;
--secondary-font-color: #666666;

/*Font del sito per Titoli & Paragrafi, incluso di colore standard*/
--primary-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
--main-font-color: #333333;

/* Font da utilizzare nella parte centrale */
--secondary-font-family: 'Times New Roman', Times, serif;
}